@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
  background-color: black;
  color: pink;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  body {
    font-size: 4rem;
  }

  #app {
    padding: 0 2rem;
  }
}
